@page
@model Licenta_Kovacs_Adela.Pages.CafeleClient.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CafeaClient[0].DenumireCafea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CafeaClient[0].TipCafea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CafeaClient[0].Bob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CafeaClient[0].Lapte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CafeaClient[0].Aroma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CafeaClient[0].Marime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CafeaDClient.CafeleClient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DenumireCafea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipCafea.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bob.DenumireBoabe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lapte.DenumireLapte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aroma.DenumireAroma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marime.MarimeMl)
            </td>
                <td>
                    @{

                        foreach (var topping in item.CafeaTipuriToppingClient)
                        {
                            @topping.Topping.ID @: @topping.Topping.DenumireTopping <br />
                        }
                    }
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
